<form method="post" action="{{ path('accident_delete', {'id': accident.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ accident.id) }}">
    <button >Delete</button>
</form>
